
@font-face {
    font-family: a;
    src: url(./jost-variable.ttf);
}
@font-face {
    font-family: b;
    src: url(./google.ttf);
}
@font-face {
    font-family: c;
    src: url(./Montserrat-VariableFont_wght.ttf)
}
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap'); */
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: c;
    color: #ffffff;
}
html,body{
    height: 100%;
    width: 100%;
}
*::selection{
    background-color: #CCB100;
    color: black;
}
body::-webkit-scrollbar{
    display: block;
    width: 7px;
    background: linear-gradient(to bottom ,#CCB100,rgb(0, 0, 0));
}
body::-webkit-scrollbar-thumb{
    background-color: #c9c9c9f4;
    border-radius: 50px;
}
#cursor{
    height: 25px;
    width: 25px;
    background-color: rgba(204, 177, 0,0.4);
    border-radius: 50%;
    position: fixed;
    z-index: 1;
    transition: all linear 0.1s;
    z-index: 500;
}
#cursor-blur{
    height: 350px;
    width: 350px;
    background-color: rgba(204, 177, 0, 0.203);
    border-radius: 50%;
    position: fixed;
    filter:blur(50px);
    z-index: 9;
    transition: all linear 0.4s;
}


#nav{
    /* background-color: red; */
    position: fixed;
    height: 145px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    /* padding: 0 ; */
    padding-left: 100px;
    z-index: 99;
    font-family: 'Montserrat', sans-serif;
}
#nav img{
    height: 75px;
}
#nav h4{
    margin-left: -20px; /* changed*/
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

#nav h2:hover{
    background-color: #CCB100;
}
.nav-top h2{
    background-color: red;
}
#v1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#nav #logo-main{
    margin-left:0%;
    position: relative;
    height:13vh;
    margin-right: 10%;
}

#nav #login-register{
    gap: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* background-color: red; */
    height: 60px;
    width: 30vw;
}
#login-register #register{ /*will change*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    padding: 5px 10px;
    width: 10vw;
    background-color: #f0d529;
    border-radius: 50px;
    transition: all ease 0.5s;
}

#login-register #login{ /*will change*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f0d529;
    padding: 5px 10px;
    width: 8vw;
    /* background-color: rgb(0, 0, 0); */
    border-radius: 50px;
    transition: all ease 0.5s;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.689);
}
#page1{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content:center;
    align-items: center;
    flex-direction: column  ;
    text-align: center;
    z-index: 10;
}
#page1 h1{
    color: rgb(210, 210, 210);
    font-size: 120px;
    font-weight: 900;
    
    margin-top: 15%;
    position: relative;
}

#page1 h1::before{
    content: "EAT. DRINK. DRIVE.";
    position: absolute;
    color: #000;
    top: -5px;
    left: -5px;
    -webkit-text-stroke:2px rgb(30, 155, 190);
    z-index: -1;
}
#page    h1:hover{
    color: #1e9bbe;
}
#page
#page1 h2{
    margin-top: -300px;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 30px;
}

#page1 p{
    width: 50%;
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
}
#page1 #arrow{
    height: 210px;
    width: 14%;
    background-color: transparent;
    border: 2px solid;
    position:absolute;
    display: flex;
    left: -2.5%;
    bottom: -0.5%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all ease 0.5s;
    /* border: 1px solid black; */
}
#page1 #arrow i{
    font-size: 50px;
    font-weight: 100;
}
#page1 #arrow:hover{
    scale: 0.4;
    background-color: #CCB100;
    border: 1px solid black;

}
#page1 .slogan{
    font-size: 60px;

}

#buttons{
    display: flex;
    gap: 50px;
    margin-top: 33px;
    position: relative;
    /* background-color: red; */
}
#buttons h2{
    background-color: #CCB100;
    color: black;
    padding: 10px 15px;
    border-radius: 50px;
    transition: all ease 0.5s;
}
#buttons h2:hover{
    background-color: black;
    color: #CCB100;
}
#why-zescoot{
    margin-top:0.5%;
    height: 120vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#why-zescoot h1{
    font-size: 6.5vh;
    /* color: red; */
}
#abover-cards-container .header {
    font-size:6.1vh;
    /* color: red; */
}
#div1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background-color: transparent;
    height: 60vh;
    width: 100vw;
}
#div1 #why-zescoot-div1{
    display: flex;
    padding: 10px 20px;
    align-items:first baseline;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    height: 40vh;
    width: 55vh;
    background: linear-gradient(to bottom, #ffdd00, rgb(34, 33, 5));
    border-radius: 10px;
}
#div1 #why-zescoot-div2{
    display: flex;
    padding: 10px 20px;
    align-items:first baseline;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    height: 40vh;
    width: 55vh;
    background: linear-gradient(to bottom, #ffdd00, rgb(34, 33, 5));
    border-radius: 10px;
}
#why-zescoot #div1 h4,
#why-zescoot #div1 p{

    color: black;
}
#why-zescoot #div1 p{
    color: wheat;
}
#div2{
    margin-top: -75px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background-color: transparent;
    height: 60vh;
    width: 100vw;
}
#why-zescoot #div1 p{
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
}
#div2 #why-zescoot-div1{
    display: flex;
    padding: 10px 20px;
    align-items:first baseline;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    height: 40vh;
    width: 55vh;
    background: linear-gradient(to bottom, #ffdd00, rgb(34, 33, 5));
    border-radius: 10px;
}
#div2 #why-zescoot-div2{
    display: flex;
    padding: 10px 20px;
    align-items:first baseline;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    height: 40vh;
    width: 55vh;
    background: linear-gradient(to bottom, #ffdd00, rgb(34, 33, 5));
    border-radius: 10px;
}
#why-zescoot #div2 h4,
#why-zescoot #div2 p{

    color: black;
}
#why-zescoot #div2 p{
    color: wheat;
}
#why-zescoot #div2 p{
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
}
#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}
#scroller {
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroller h4{
    display: inline-block;
    font-size: 100px;
    font-weight: 900;
    font-family: 'Gilroy', sans-serif;
    margin-right: 10px;
    color: transparent;
    -webkit-text-stroke: 2px white;
    transition: all linear 0.5s;
}
#scroller h4:hover{
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.258);
    color: #CCB100;
}
@keyframes scroll {
    from{
            transform: translateX(0);
    } to{
            transform: translateX(-100%);
    }
}

#about-us {
    position: relative; /*isliye kiya kyoki blur cursor ke text ke piche rakhna h*/
    /* background-color: red; */
    z-index: 10;
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 0 50px ;
}
#about-us img{
    height: 165px;
    width: 265px;
    border-radius: 20px;
    object-fit: cover;
}
#about-us-in{
    text-align: center;
}
#about-us p{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 22px;
}
#about-us h3{
    font-size: 40px;
    font-weight: 800;
}
#abover-cards-container{
    display: flex;
    align-items: center;justify-content: center;
}
#abover-cards-container h2{
    /* background-color: red; */
    font-size: 50px;
    transition: all ease 1s ;
}

#cards-container{
    position: relative;
    z-index: 10;
    /* background-color: red; */
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 70px;
}
.card{
    height: 50%;
    width: 28%;
    /* background-color: blue; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
}
#card1{
    background-image: url(realtime-image.png);
}
#card2{
    background-position: -50px;
    background-image: url(easeofuse.jpg);
}
#card3{
    background-image: url(contest.jpg);
}
.overlay{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #ffdd00, rgb(34, 33, 5));
    padding-top: 160px;
    padding: 30px;
    padding-left:23px;
    border: 1px solid black;
    opacity: 0;
    transition: all ease 0.6s;
}
.overlay h4{
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    white-space: nowrap;
    margin-bottom: 20px;

}
.overlay p{
    font-size: 15px;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(1,0,0,16deg);
}



/* #blue-div img{
    height: 100%;
    object-fit: cover;
    width: 14%;
    opacity: 0.2;
}*/

#page3{
    height: 100%;
    width: 100%;
}
#page3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    height: 50vh;
    width: 100%;
    font-size: 25px;
    margin-top: -50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
    transition: all ease 1s ;
}

#page3>p{
    font-size: 30px;
    font-weight: 500;
    width: 85%;
    text-align: center;
    line-height: 40px;
}   
#page3 img{
    position: absolute;
    height: 60px;
}
#page3 #colon1{
    left: 10%;
    top: 15%;
}
#page3 #colon2{
    bottom: 25%;
    right: 13%;
}
/* #page3 .img1{
    height: 80px;
    margin-top: -215px;
    margin-left: -400px;
}
#page3 .img2{
    height: 80px;
    margin-top: -215px;
    margin-left: 390px;
} */

#page3,p{
    color: #ffffff;
}
#page4{
    position: relative;
    height: 50vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.elements{
    /* margin-top: -200px; */
    height: 40%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;

}
.elements h2{
    position: absolute;
    transition: all ease 0.5s;
    z-index: 10;
    height: 100%;
    width: 100%;
    background:linear-gradient(to bottom,#ffdd00, black);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: 800;
    font-size: 28px;

}
.elements img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
    scale: 1.1;
}
.elements:hover h2{
    color: white;
    background-color: transparent;
}
.elements:hover img{
    scale: 1;
}
#page4 h1{
    font-size: 70px;
    position: absolute;
    top: 10%;
    font-weight: 900;
    color: black;
    font-family: "Gilroy", sans-serif;
    -webkit-text-stroke: 2px white;
    z-index: 9;
}
#page4 #hOne:hover{
    
    color: #ffffff;
    transition: all linear 0.8s;
}
#page4 #hOne:not(:hover){
    /* transition-delay: 1s; */
    transition: color 0.8s ease-in-out 0.2s;
}

.footer-divs1 {
    margin-left: 1%;
}

.footer-divs1 #bmw-img{
    width: 20%;
}

.footer-divs2 {
    margin-left: -25%;
}
.footer-divs4 {
    margin-right: 1%;
}
#footer #last-div h3{
    width: 110%;
    font-size: 25px;
    color: black;
    font-weight: 900;
    text-decoration:solid;
    line-height: 180%;
}
#footer #last-div h4{
    width: 110%;
    font-size: 25px;
    color: black;
    font-weight: 900;
    text-decoration:solid;
    line-height: 180%;
}
.footer-divs4>p{
    width: 90%;
    color: black;
    font-weight: 700;;
    line-height: 180%;
}
.footer-divs1>p{
    position: relative;
    margin-top: 3%;
    width: 45%;
    color: black;
    font-weight: 700;;
    line-height: 180%;
}
.footer-divs1 .social-media{
    margin-top: 1%;
    margin-left:20px;
}
.footer-divs1 #facebook{
    margin-left: -0.5%
}
#page14{
    position: relative;
    height: 40vh;
    width: 100vw;
    background-color: #000;
}
.page14-inner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw;
    font-family: a;
    height: 33.3%;
    width: 100%;
    color: #fff;
    border-top: .5px solid #ffffff5c;
    border-bottom: .5px solid #ffffff48;
    transition: all ease 0.5s;
}
.page14-inner>i{
    font-weight: 100;
    font-size: 2vw;
    position: relative;
    z-index: 9999;
}
.page14-inner>h1{
    font-size: 3vw;
    font-weight: 100;
    position: relative;
    z-index: 9999;
}

.center14{
    height: 0%;
    width: 100%;
    background:linear-gradient(to bottom,#ffdd00, black);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all ease .5s;
}


.page14-inner:hover .center14{
    height: 100%;
    color: black;
}
.page14-inner h1:hover{
    font-weight: 500;
    color: black;
}
.page14-inner h1:not(:hover){
    font-weight: 500;
    transition: all ease 0.8s;   
}
